### NREL Solar Resource Data - lat/long file import

#### This program uses the Solar Resource Data API provided by NREL and returns various solar power related parameters for a given latitude and longitude.  The goal of the program is to take in a file of lat and long values and iterate through, pulling the values of interest and then writing them to a new file in a format usable for creation of maps and analytical purposes.

##### **DATA RETURNED**  
Average Direct Normal Irradiance - measured surface perpendicular to direct solar rays (avg_dni)  
Average Global Horizontal Irradiance - measured surface horizontal to the ground (avg_ghi)  
Average Tilt at Latitude (avg_lat_tilt)

##### **INFORMATION & RESEARCH**
https://developer.nrel.gov/docs/solar/solar-resource-v1/   
https://en.wikipedia.org/wiki/Solar_irradiance  
https://www.3tier.com/en/support/solar-online-tools/what-global-horizontal-irradiance-solar-prospecting/  
https://www.pveducation.org/pvcdrom/properties-of-sunlight/measurement-of-solar-radiation

In [2]:
import pandas as pd
import csv
import requests, json, csv

# name of csv with the lat/long and location information for the queries
# column headers for lat and long must be named as such
coordinate_file = 'location_values.csv'

In [3]:
# review list of lat longs to use for reading into API
with open(coordinate_file, newline='') as csvfile:
    loc_reader = csv.reader(csvfile)
    for loc in loc_reader:
        print(loc, end="\n")

['ï»¿City', 'State', 'lat', 'long']
['Montgomery', ' AL', '32.361668', '-86.279167']
['Auburn', ' AL', '32.609856', '-85.480782']
['Tuscaloosa', ' AL', '33.189281', '-87.565155']
['Mobile', ' AL', '30.695366', '-88.039894']
['Hot Springs', ' AR', '34.496212', '-93.05722']
['Fayetteville', ' AR', '36.082157', '-94.171852']
['Jonesboro', ' AR', '35.835575', '-90.705025']
['Surprise', ' AZ', '33.630554', '-112.366669']
['Yuma', ' AZ', '32.698437', '-114.650398']
['Peoria', ' AZ', '33.580944', '-112.237068']
['Tempe', ' AZ', '33.427204', '-111.939896']
['Phoenix', ' AZ', '33.448376', '-112.074036']
['Flagstaff', ' AZ', '35.198284', '-111.651299']
['Port Hueneme', ' CA', '34.155834', '-119.202789']
['Vista', ' CA', '33.193611', '-117.241112']
['Berkeley', ' CA', '37.871666', '-122.272781']
['Pasadena', ' CA', '34.156113', '-118.131943']
['Escondido', ' CA', '33.124722', '-117.080833']
['Modesto', ' CA', '37.661388', '-120.994446']
['Irvine', ' CA', '33.669445', '-117.823059']
['Palm Springs', ' CA', '33.830517', '-116.545601']
['Santa Clarita', ' CA', '34.391663', '-118.542587']
['Bay Point', ' CA', '38.033878', '-121.960709']
['Rancho Cucamonga', ' CA', '34.110489', '-117.594429']
['Long Beach', ' CA', '33.77005', '-118.193741']
['Alameda', ' CA', '37.765205', '-122.241638']
['Oakland', ' CA', '37.804363', '-122.271111']
['Santa Cruz', ' CA', '36.974117', '-122.030792']
['Santa Barbara', ' CA', '34.42083', '-119.698189']
['Beverly Hills', ' CA', '34.07362', '-118.400352']
['San Leandro', ' CA', '37.725685', '-122.15683']
['El Centro', ' CA', '32.793877', '-115.561516']
['San Bernardino', ' CA', '34.115784', '-117.302399']
['Mission Viejo', ' CA', '33.600021', '-117.671997']
['Encinitas', ' CA', '33.039139', '-117.295425']
['Fremont', ' CA', '37.548271', '-121.988571']
['Redondo Beach', ' CA', '33.849182', '-118.388405']
['Huntington Beach', ' CA', '33.660057', '-117.99897']
['Chula Vista', ' CA', '32.639954', '-117.106705']
['Mountain View', ' CA', '37.386051', '-122.083855']
['San Diego', ' CA', '32.715736', '-117.161087']
['Napa', ' CA', '38.297539', '-122.286865']
['Burbank', ' CA', '34.18084', '-118.308968']
['Thornton', ' CO', '39.903057', '-104.954445']
['Aurora', ' CO', '39.710835', '-104.8125']
['Lakewood', ' CO', '39.71085', '-105.081505']
['Castle Rock', ' CO', '39.374912', '-104.853859']
['New Haven', ' CT', '41.310726', '-72.929916']
['Greenwich', ' CT', '41.027054', '-73.620071']
['Dover', ' DE', '39.161079', '-75.525681']
['Wilmington', ' DE', '39.739071', '-75.539787']
['West Palm Beach', ' FL', '26.709723', '-80.064163']
['Tallahassee', ' FL', '30.455', '-84.253334']
['Naples', ' FL', '26.177624', '-81.806946']
['Dunedin', ' FL', '28.018349', '-82.764473']
['St. Augustine', ' FL', '29.901243', '-81.312431']
['Miami', ' FL', '25.761681', '-80.191788']
['Jacksonville', ' FL', '30.332184', '-81.655647']
['Tampa', ' FL', '27.964157', '-82.452606']
['Gainesville', ' FL', '29.651634', '-82.324829']
['Kissimmee', ' FL', '28.291956', '-81.40757']
['Athens', ' GA', '33.950001', '-83.383331']
['Augusta', ' GA', '33.466667', '-81.966667']
['Atlanta', ' GA', '33.753746', '-84.38633']
['Marietta', ' GA', '33.952602', '-84.549934']
['Davenport', ' IA', '41.543056', '-90.590836']
['Cedar Falls', ' IA', '42.534901', '-92.445312']
['Meridian', ' ID', '43.614166', '-116.398888']
['Eagle', ' ID', '43.695442', '-116.354012']
['Aurora', ' IL', '41.763889', '-88.290001']
['Decatur', ' IL', '39.842468', '-88.953148']
['Des Plaines', ' IL', '42.033363', '-87.8834']
['Champaign', ' IL', '40.116421', '-88.243385']
['East Peoria', ' IL', '40.666149', '-89.580101']
['South Bend', ' IN', '41.676388', '-86.250275']
['Indianapolis', ' IN', '39.791', '-86.148003']
['Gary', ' IN', '41.595161', '-87.356934']
['Kansas City', ' KS', '39.106667', '-94.676392']
['Louisville', ' KY', '38.328732', '-85.764771']
['Lafayette', ' LA', '30.216667', '-92.033333']
['Lake Charles', ' LA', '30.212942', '-93.21891']
['Metairie', ' LA', '29.984093', '-90.152855']
['Cambridge', ' MA', '42.373611', '-71.110558']
['Boston', ' MA', '42.361145', '-71.057083']
['Salem', ' MA', '42.519539', '-70.896713']
['Frederick', ' MD', '39.412327', '-77.425461']
['Dearborn Heights', ' MI', '42.336983', '-83.273262']
['Muskegon', ' MI', '43.224194', '-86.235809']
['Grand Rapids', ' MI', '42.963795', '-85.670006']
['Garden City', ' MI', '42.325569', '-83.330933']
['Dearborn', ' MI', '42.322262', '-83.176315']
['Lansing', ' MI', '42.732536', '-84.555534']
['Bloomington', ' MN', '44.840797', '-93.298279']
['St Cloud', ' MN', '45.56023', '-94.172852']
['St Paul', ' MN', '44.949642', '-93.093124']
['Springfield', ' MO', '37.210388', '-93.297256']
['Kansas City', ' MO', '39.099724', '-94.578331']
["O'Fallon", ' MO', '38.810608', '-90.699844']
['Biloxi', ' MS', '30.396032', '-88.885307']
['Jackson', ' MS', '32.298756', '-90.184807']
['Gulfport', ' MS', '30.36742', '-89.092819']
['Great Falls', ' MT', '47.506187', '-111.283691']
['Fayetteville', ' NC', '35.052666', '-78.878357']
['Raleigh', ' NC', '35.787743', '-78.644257']
['Fargo', ' ND', '46.877186', '-96.789803']
['Bismarck', ' ND', '46.825905', '-100.778275']
['Omaha', ' NE', '41.25716', '-95.995102']
['Nashua', ' NH', '42.765366', '-71.467567']
['Hoboken', ' NJ', '40.745255', '-74.034775']
['Las Cruces', ' NM', '32.346596', '-106.78772']
['Las Cruces', ' NM', '32.326595', '-106.775436']
['Sparks', ' NV', '39.554443', '-119.735558']
['North Las Vegas', ' NV', '36.201946', '-115.120216']
['Auburn', ' NY', '42.933334', '-76.566666']
['Jamestown', ' NY', '42.095554', '-79.238609']
['Yonkers', ' NY', '40.93121', '-73.89875']
['Syracuse', ' NY', '43.088947', '-76.15448']
['White Plains', ' NY', '41.033985', '-73.762909']
['Greece', ' NY', '43.209785', '-77.693062']
['Columbus', ' OH', '39.983334', '-82.98333']
['Akron', ' OH', '41.081757', '-81.511452']
['Canton', ' OH', '40.798946', '-81.378448']
['Cincinnati', ' OH', '39.103119', '-84.512016']
['Mannford', ' OK', '36.133411', '-96.354454']
['Albany', ' OR', '44.636513', '-123.105927']
['Portland', ' OR', '45.523064', '-122.676483']
['Bend', ' OR', '44.058174', '-121.315308']
['Eugene', ' OR', '44.052071', '-123.086754']
['Wilkes-Barre', ' PA', '41.245708', '-75.881241']
['Philadelphia', ' PA', '39.952583', '-75.165222']
['Erie', ' PA', '42.129223', '-80.08506']
['Erie', ' PA', '42.129223', '-80.08506']
['Harrisburg', ' PA', '40.26368', '-76.890739']
['Reading', ' PA', '40.335648', '-75.926872']
['Providence', ' RI', '41.825226', '-71.418884']
['Newport', ' RI', '41.490578', '-71.310196']
['Chester', ' SC', '34.704929', '-81.210251']
['North Charleston', ' SC', '32.854622', '-79.974808']
['Rapid City', ' SD', '44.080544', '-103.231018']
['Murfreesboro', ' TN', '35.846111', '-86.391945']
['Memphis', ' TN', '35.1175', '-89.971107']
['Chattanooga', ' TN', '35.045631', '-85.309677']
['College Station', ' TX', '30.601389', '-96.314445']
['Amarillo', ' TX', '35.199165', '-101.845276']
['Arlington', ' TX', '32.705002', '-97.12278']
['Austin', ' TX', '30.266666', '-97.73333']
['Dallas', ' TX', '32.779167', '-96.808891']
['Houston', ' TX', '29.749907', '-95.358421']
['Katy', ' TX', '29.785786', '-95.824394']
['Abilene', ' TX', '32.448734', '-99.733147']
['Midland', ' TX', '32.000507', '-102.077408']
['Sugar Land', ' TX', '29.619678', '-95.634949']
['Plano', ' TX', '33.019844', '-96.698883']
['Hyrum', ' UT', '41.632893', '-111.85112']
['Newport News', ' VA', '37.070831', '-76.484444']
['Richmond', ' VA', '37.54129', '-77.434769']
['Lynchburg', ' VA', '37.412762', '-79.146042']
['Virginia Beach', ' VA', '36.86314', '-76.015778']
['South Burlington', ' VT', '44.466995', '-73.170959']
['Vancouver', ' WA', '45.633331', '-122.599998']
['Olympia', ' WA', '47.037872', '-122.900696']
['Green Bay', ' WI', '44.513332', '-88.015831']
['Racine', ' WI', '42.722702', '-87.784225']
['Brookfield', ' WI', '43.061615', '-88.107948']
['Huntington', ' WV', '38.413651', '-82.446732']
['Charleston', ' WV', '38.349819', '-81.632622']

In [4]:
# bring lat / long csv into a dataframe
file_name = coordinate_file
df = pd.read_csv(file_name) 
df

            City State        lat       long
0     Montgomery    AL  32.361668 -86.279167
1         Auburn    AL  32.609856 -85.480782
2     Tuscaloosa    AL  33.189281 -87.565155
3         Mobile    AL  30.695366 -88.039894
4    Hot Springs    AR  34.496212 -93.057220
..           ...   ...        ...        ...
161    Green Bay    WI  44.513332 -88.015831
162       Racine    WI  42.722702 -87.784225
163   Brookfield    WI  43.061615 -88.107948
164   Huntington    WV  38.413651 -82.446732
165   Charleston    WV  38.349819 -81.632622

[166 rows x 4 columns]

### MAKE REQUESTS AND SAVE TO A FILE FOR ANALYSIS

In [5]:
# file name for saving all results
all_filename = input("filename for all data including .csv: ")

filename for all data including .csv: all_data.csv

In [6]:
# file name for saving yearly results
yearly_filename = input("filename for yearly data including .csv: ")

filename for yearly data including .csv: yearly_data.csv

In [8]:
# iterate through csv and query using lat / long to get the data and save to a csv
# create URL using values in database
# initiate counters to start at first index value in the lat / long file
lat_count = 0
long_count = 0
while lat_count < len(df):
    lat = df.at[lat_count,'lat']
    long = df.at[long_count,'long']
    API_ENDPOINT = 'https://developer.nrel.gov/api/solar/solar_resource/v1.json?api_key=aO3yoslbHz6Pg9vrVdVGjA47Jrv1TnjOfOhDJj0L&lat=%s&lon=%s' % (lat,long)
    full_url = API_ENDPOINT
    print()
    print('URL: ', full_url)    

    # send out the request for information
    response = requests.get(full_url)
    # check its status to see if all is well
    print('Made request, response status: ', response.status_code)
    # determine if results were returned or another error code
    if response.status_code == 200:
        # 200 is all good
        results = json.loads(response.text)
    elif response.status_code == 429:
        # 429 is request limit reached
        print()
        print("You have reached your hourly request limit.")
        break
    else: 
        # other exception noted on NREL is 422 for invalid parameter; the loop will continue to the next lat/long
        print()
        print("One of your input parameters is not valid.")

    # append all to a file
    with open(all_filename, 'a', newline="") as file_name:
        try:
            write_file = csv.writer(file_name, lineterminator="\r")
            for k, v in results['inputs'].items():
                write_file.writerow([k, v])
            for key, value in results['outputs'].items():
                write_file.writerow([key, value])
        except KeyError:
            print()
            print("Error with saving to", all_filename, ". You have requested an invalid value.")
            break

    # append value of interest to the yearly file; in this case it is 'avg_dni'
    with open(yearly_filename, 'a') as print_file:
        try:
            print_file.write(str(lat) + "\n")
            print_file.write(str(long) + "\n")
            print_file.write(str(results['outputs']['avg_dni']['annual'])) # result needs to be a string, not integer
            print_file.write("\n")
        except KeyError:
            print()
            print("Error with saving to", yearly_filename, ". You have requested an invalid value.")
            break

    # add 1 to lat / long counters to move to next values for next iteration
    lat_count = lat_count + 1
    long_count = long_count + 1
else:
    # notification that you've gone through all the locations in the csv file
    print()
    print("You've reached the end of the file.")

URL:  https://developer.nrel.gov/api/solar/solar_resource/v1.json?api_key=aO3yoslbHz6Pg9vrVdVGjA47Jrv1TnjOfOhDJj0L&lat=32.361668&lon=-86.279167
Made request, response status:  429

You have reached your hourly request limit.

### FORMAT YEARLY VALUES AND SAVE TO A FILE FORMATTED FOR GIS ANALYSIS

### FORMAT YEARLY VALUES AND SAVE TO A FILE FORMATTED FOR GIS ANALYSIS

In [ ]:
# write the yearly request results to a dataframe; note it's in a single column
result_file = yearly_filename
result_df = pd.read_csv(result_file, header=None) 
result_df

In [ ]:
# rearrange values in file to better format and add header info
# ValueError when query is interrupted and a value isn't returned for the last lat/long and not enough rows for proper reformatting
try:
    df_new = (pd.DataFrame(result_df.values.reshape(-1, 3), 
                    columns=['lat','long','avg_yrly_dni']))
    print(df_new)
except ValueError:
    print()
    print("Your dataframe is not the appropriate length for reformatting - check for missing values.")

In [ ]:
# merge original dataframe with city and state with resultant, reformatted dataframe
df_all = pd.merge(df, df_new, on=['lat','long'], how='left')
df_all

In [ ]:
# write dataframe to a new csv
final_file = input("name of reformatted request result file, include .csv: ")
df_all.to_csv(final_file, index=False)